body {
  background-image: url("/images/background.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  color: #37374a;
}

* {
  box-sizing: border-box;
  font-family: Lato;
}

input {
  background: none;
  margin-left: .5em;
  border: none;
  color: rgba(255,255,255,.5);
  border-bottom: 1px solid rgba(255,255,255,.5);
  transition: 300ms;
}

input:active, input:focus {
  outline: none;
  color: rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
}

.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headerContainer {
  height: 30vh;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweetsContainer {
  flex: 1;
  background: rgba(255,255,255,.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .1) inset;
  overflow: hidden;
}

.controlsContainer {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  opacity: 0.65;
}

.footerContainer {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.35;
  font-weight: 500;
  color: #37374a;
  font-size: 10px;
}

.footerContainer a {
  color: #4B6379;
  margin-left: .25em;
}

.tweetsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweetWrapper {
  font-size: 1.25em;
  margin: 2rem;
  flex: 1;
  max-width: 400px;
}

.avatar {
  max-width: 2.5em;
  border-radius: 2.5em;
  margin: .25em;
}

@media (max-width: 410px) {
  .controlWrapper {
    flex-direction: column-reverse;
  }
  .controlsContainer button {
    margin-top: 1em;
    margin-right: 0em;
  }
}

.playing {
  display: inline;
  position: relative;
}

.playing::after {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 4px);
  background: RGBA(242, 249, 92, .9);
  padding: 2px;
  border-radius: 3px;
  top: -2px;
  left: -3px;
  z-index: -1;
}
